div {
    background-color: #fff !important;
}
html * {
    color: #404a5d !important;
    border-color: #f2f8ff !important;
}
body {
    background: none !important;
    background-color: transparent !important;
}
html {
    background: #f8f9fd !important;
}
img {
    opacity: .3 !important;
}
.msg_text_inner img, .apod_image img {
    opacity: 1 !important;
}
a {
    color: #404a5d !important;
}
a:hover {
    color: #39528c !important;
}
textarea, select, input, .toggle_link {
    border-color: #ccc !important;
    color: #666;
    background-color: #fff;
}
.loading_icon {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAHCAIAAABx4H/3AAAACXBIWXMAAA4mAAAN/wHwU+XzAAAAB3RJTUUH4AMPFQ81DpVi0wAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGjSURBVEjHjVVJot0gDLPkvN7/Gr1Gj9Jj9AWpCxICZPqsgvEgy0Pw+8/f72rbRV6LZRdZDsmlWPZaqsRFm1opUeRVm6RafYsjYl1VzYssVXNFxL/v5kSOKlFZw1b5WiUiwGR+AgATwJIkIgkCS4KMJRkRTZ7Esgw6AJIg4pOMiF8f7PpYsj4hEyR6qyRwfFR53B3a1w9ARIS8fdydO/P+SIfDzj9tja4EEPfxOD5ZnpSJTQesIY5XPeKsisRLIuyh9KHPLLgTya7XPQyS8AlRszgzUKnpU6rXh6pod7czAo8otesQIR+A7RciqqLeCn9US/aZoD4GAHnzSGCsmyv6EbqbyuTZduusKep0bR7Qugao4a5q45bPxE6RL2t2V8uXznq1sU0cIDw2l23flIZ88YyfgdXE48iH7cbj1CZ1GZ1rNs11vs0he7j2xc7qRgk9iNzn9nJttfXRdtaF2sY1fL/5+hcCxLQNjiiTnynxcx2Bmf0iP9PFvvmfd1YPAvtS8NVUnpvM448CgC0wz3P33Fny0IYcEwbAmyblD3q3brqH8x9z/ECOMpTSWwAAAABJRU5ErkJggg==') repeat-x top left;
    background-size: cover;
    background-position: 0px, 0px;
}
.folder_cell {
    background: none !important;
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.confirm_logout, .folder_list, .message_list, .configured_server, .add_server, .server_content, .server_section {
    background-color: #fff !important;
}
.content_cell {
    background-color: unset !important;
}
.msg_controls {
    color: #404a5d !important;
    background: #fff !important;
}
.content_title {
    background: #fff !important;
    font-size: 225% !important;
    color: #7C83FD !important;
    margin-top: -8px;
    font-weight: 600;
    border-bottom: 2px solid #7c83fd47 !important;
    padding-bottom: 40px;
}
.list_controls {
    background: #7C83FD !important;
    padding: 14px !important;
    margin: 13px !important;
    padding-top: 0px !important;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 1s;
    box-shadow: 0 0 20px #8391fd9f;
}
.list_controls:hover {
    background: #96baff !important;
}
.list_controls a {
    opacity: 1 !important;
}
.list_controls img {
    filter: invert(1) !important;
    opacity: 0.8 !important;
}
.debug, .subtitle {
    color: #3a5aa4 !important;
}
.subject a {
    color: #33539d !important;
}
.icon {
    color: #aaa !important;
}
.online {
    color: green;
}
.sys_messages {
    background-color: #e8f0ff !important;
    transition: 500ms;
}
.empty_list {
    color: #bbb !important;
}
.checkbox_cell input[type="checkbox"]:checked + label {
    background-color: #c6d7ff !important;
}
.folders li{
   padding: 15px !important;
}
.src_name {
    color: #404a5d !important;
    background: #fff !important;
    transition: 0.5s;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 25px !important;
    margin-bottom: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: unset !important
}
.open {
    background: #7C83FD !important;
    color: #fff !important;
    transition: .5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nux_help, .nux_dev_news, .nux_welcome {
    border: unset !important;
    border-radius: 25px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
.folder_list {
    background-color: #fff !important;
    margin-right: 15px !important;
    padding-left: 15px !important;
    padding-right: 0px !important;
}
.menu {
    overflow: auto;
}
.total_unread_count, .unread_count {
    float: right !important;
    color: #fff !important;
    padding: 1px !important;
    background-color: #96BAFF;
}
.selected_menu a {
    color: #7C83FD !important;
    font-size: 140%;
    font-weight: bolder;
}
.selected_menu img {
    transform: scale(1.5);
    opacity: 0.7 !important;
    filter: invert(44%) sepia(42%) saturate(1541%) hue-rotate(210deg) brightness(111%) contrast(98%);
    vertical-align: 0px !important;
}
.calendar, .month_label {
    background: #f8f9fd !important;
}
.calendar_month {
    padding-left: 15px !important;
    padding-right: 10px !important;
    border-spacing: 10px;
}
.calendar_month td {
    background-color: #fff;
    border-radius: 20px;
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important
}
.calendar_month th {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.11) 0px 8px 24px !important;
    margin-bottom: 100px;
    background-color: #96BAFF #7C83FD !important;
    color: #404a5dd1 !important;
    font-weight: bold;
}
.today {
    background-color: #96BAFF !important;
    border-radius: 20px;
    border: none !important;
    color: #fff !important 
}
.next_month {
    background-color: #96baff !important;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 6px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 900;
}
.prev, .next {
    background-color: #96baff !important;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 900;
    transition: 0.5s;
}
.prev:hover, .next:hover {
    background-color: #7C83FD !important;
    color: #fff !important;
}
.next {
    margin-left: 6px;
}
.prev {
    margin-right: 6px;
}
.to_outer {
    background-color: unset !important;
    width: calc(100% - 70px);
}
.to_outer input, .compose_bcc, .compose_cc, .compose_subject, .compose_to {
    height: 30px;
}
.to_outer input, .compose_bcc, .compose_cc, .compose_subject, .compose_to, .compose_body, .compose_server, .compose_server option {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 25px;
    border-radius: 5px;   
    border: unset !important;
    padding-left: 15px;
    padding-right: 15px;
}
:focus-visible {
    outline: 3px solid #7C83FD !important;
}
.smtp_send, .smtp_save, .smtp_reset, .compose_attach_button, .compose_sign {
    margin-top: 50px;
    background-color: #96BAFF;
    color: #fff !important;
    padding: 15px;
    border-radius: 20px;
    border: unset !important;
    box-shadow: 0 0 20px #8391fd9f;
    transition: 1s;

}
.smtp_send:hover, .smtp_save:hover, .smtp_reset:hover, .compose_attach_button:hover, .compose_sign:hover {
    background-color: #7C83FD;
    transition: 1s;
}
.compose_server {
    height: 35px !important;
    margin-left: 2.5%;
}
.compose_form {
    background-color: #fff;
    padding-right: 9%;
    margin-left: 4%;
    margin-top: 3%;
    padding-bottom: 4%;
    border-radius: 40px;
    padding-top: 3%;
    
}
.smtp_send {
    margin-left: 5%;
}
.compose_page {
    background-color: #f8f9fd !important;
}
.toggle_recipients {
    background-color: #96BAFF;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 120%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    margin-top: calc(25px + 3%);
    margin-right: 6%;
    margin-left: 3%;
    box-shadow: 0 0 20px #8391fd9f;
    color: #fff !important;
    transition: 1s;
}
.toggle_recipients:hover {
    background-color: #7C83FD;
    color: #fff !important;
}
.recipient_fields {
    width: 100%;
}
.compose_cc, .compose_bcc {
    width: calc(100% - 70px) !important;
}
select option {
    background: rgb(150 186 255);
    color: #fff !important;
}
.event_form input {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
}
.event_form input:hover, .event_form input:focus {
    border-color: #3d9cff;
}
.event {
    width: 40%;
    max-width: 450px;
    min-width: 200px;
    background-color: #fff !important;
    padding: 70px;
    border-radius: 50px;
    margin: auto;
    margin-top: 8%;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
input[type="date" i] {
    display: block !important;
}
.event input, .event textarea, .event select {
    width: 90%;
    height: 30px;
    border-radius: 5px !important;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}
@media only screen and (min-width: 1000px) {
    .add_event_date, .add_event_time {
        width: 40%;
        display: inline-block;
    }
    .add_event_time {
        margin-left: 13%;
    }
}

.event input:hover, .event textarea:hover, .event select:hover {
    transition: all 0.3s ease-in-out;
    color: #1a3b5d;
    outline: none !important;
    border-color: #3d9cff !important;
}
.event label {
    display: block;
    margin-bottom: 7px !important ;
}
.add_event_detail textarea {
    height: 40px;
}
.add_event_detail textarea:hover, .add_event_detail textarea:focus {
    height: 50px;
}
.event input:focus, .event textarea:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    outline: none !important;
    border-color: #3d9cff !important;
}
.add_event_submit input {
    background-color: #96BAFF !important;
    height: 45px;
    border-radius: 30px !important;
    color: #fff !important;
    width: 97% !important;
}
.add_event_submit input {
    width: 100%;
}
.add_event_submit input {
    border: unset !important;
}
.add_event_submit input:hover {
    background-color: #7C83FD !important;
    border-radius: 30px !important;
    border: unset !important;
}
.add_event_repeat select {
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    height: 35px;
}
.add_contact {
    padding: unset;
    padding-top: 20px;
    width: 42px !important;
    vertical-align: unset !important;
}
.add_contact .server_title {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff !important;
    font-weight: bold;
    background: #96baff !important;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 1s;
}
.add_contact .server_title:hover {
    background-color: #7C83FD !important;
}
.server_title {
    width: 10px !important;
}
.menu_caret {
    display: none !important;
}
.add_contact .server_title span {
  display: none;
}
.add_contact .server_title:after {
  content: '+';
}
.contact_list {
    margin-right: 25px !important;
}
.contact_list td {
    font-size: 18px;
    padding-bottom: 20px;
    border-width: 3px !important;
}
.contact_form {
    display: none;
    background-color: #fff !important;
    padding: 32px;
    position: absolute;
    right: 0px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    color: #fff !important;
}
.contact_form input {
    height: 20px;
    padding: 7px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 25px;
    border-radius: 5px;
    border: unset !important;
    padding-left: 15px;
    padding-right: 15px;
}
.contact_form input[type=submit], .contact_form input[type=button] {
    height: 40px;
    border: unset !important;
    transition: all 0.7s ease-in-out;
    width: 42.5%;
    border-radius: 10px;
    background-color: #96BAFF !important;
    box-shadow: 0 0 20px #8391fd9f;
    color: #fff !important;
}
.contact_form input[type=submit]:hover, .contact_form input[type=button]:hover {
    background-color: #7C83FD !important;
    outline: none !important;
    border-color: #3d9cff !important;
}
.reset_contact {
    margin-left: 5% !important;
}
.event input:focus, .event textarea:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    outline: none !important;
    border-color: #3d9cff !important;
}
.contacts_with_add_button {
    background: #fff !important;
    border-radius: 60px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding-right: 110px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 6em auto;
    max-width: calc(100% - 12em);
    width: max-content !important;
}
.contacts_content {
    background-color: unset !important;
}
.contact_controls img, .show_contact img {
    transition: 1s;
}
.contact_controls img:hover, .show_contact img:hover {
    opacity: 0.5 !important;
}
.contact_list {
    border-spacing: 0px 10px !important;
}
.contacts {
    width: 100%;
}
.add_contact_form {
    position: relative;
}